doctype html
html
	head
		title CPSC473 HW7
		link(href='/css/custom.css', rel='stylesheet', type='text/css')
	body
		.center
			h1 SHAWTY URL
			form(method="POST", action="/")
				input#question.form-control(type="text", placeholder="Enter URL here", name="url")
				button.btn.btn-primary.pull-right(type="submit") Submit
			p
				a(href="#{output}") #{output}
			p #{error}
			h2 TOP 10 Shorten URL
			if top != undefine
				ul 
					each url in top
						li 
							| URL: 
							a(href=url.url) #{url.url}		
							| Hits: #{url.hits}